@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.145 0 0);
  --color-primary: oklch(0.205 0 0);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.97 0 0);
  --color-secondary-foreground: oklch(0.205 0 0);
  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: oklch(0.556 0 0);
  --color-accent: oklch(0.97 0 0);
  --color-accent-foreground: oklch(0.205 0 0);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.922 0 0);
  --color-input: oklch(0.922 0 0);
  --color-ring: oklch(0.708 0 0);
  --radius-sm: calc(0.5rem - 4px);
  --radius-md: calc(0.5rem - 2px);
  --radius-lg: 0.5rem;
}

:root {
  --font-lato: "Lato", ui-sans-serif, system-ui, sans-serif;
  --font-open-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
  --font-red-hat: "Red Hat Display", ui-sans-serif, system-ui, sans-serif;
  --font-merriweather: "Merriweather", ui-serif, Georgia, serif;
  --font-lora: "Lora", ui-serif, Georgia, serif;
  --font-playfair: "Playfair Display", ui-serif, Georgia, serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-family: var(--font-open-sans);
    font-size: 18px;
  }

  @media (max-width: 640px) {
    body {
      font-size: 16px;
    }
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
  .h1-display {
    font-family: var(--font-red-hat);
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.25;
  }
}
